.bg {
  background-image: url("Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}
.App {
  margin-right: 100px;
  margin-left: 100px;
}

.App-header {
  display: flex;
  flex-direction: unset;
  font-size: calc(20px + 2vmin);
  color: black;
  padding: 10px;
  margin-left: 20px;
}

.container {
  background: #f9f8dd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  max-height: 100%;
}

.messages {
  background-color: white;
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message.from-me .message-body {
  background-color: #af9570;
  color: white;
}

.message {
  margin-bottom: 5px;
}
.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}
